.overflow-x-auto.relative
  .flex.justify-between.py-6
    %h1.text-lg.font-medium Listing OAuth clients

    -# %div
    = link_to 'New Client', new_client_path, class: 'primary-button'

  %table.w-full.text-sm.text-left.text-gray-500
    %thead.text-xs.text-gray-700.uppercase.bg-slate-50.rounded
      %tr
        %th.py-3.px-6 #
        %th.py-3.px-6 Name
        %th.py-3.px-6 App ID
        %th.py-3.px-6 App secret
        %th.py-3.px-6
        %th.py-3.px-6

    %tbody
      - @clients.each do |client|
        %tr.bg-white.border-b
          %td.py-4.px-6= client.id
          %td.py-4.px-6= client.name
          %td.py-4.px-6= client.app_id
          %td.py-4.px-6= client.app_secret
          %td.py-4.px-6= link_to 'Edit', edit_client_path(client)
          %td.py-4.px-6= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }


