%p#notice= notice

%p
  %b Name:
  = @client.name
%p
  %b App:
  = @client.app_id
%p
  %b App secret:
  = @client.app_secret

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
